.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.dataGraphs {
  width: 49%;
}

.dataGraphs > * {
  margin-bottom: 1rem;
}

.dataActivity {
  width: 49%;
  height: 100%;
}
