@tailwind base;
@tailwind components;
@tailwind utilities;

.testing {
  outline: 1px dotted red;
}

/* Nav Bar configuration */
.megaBG {
  background-color: #8095a8;
}

.navLink {
  border: 1px solid white;
  display: grid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: center;
  color: white;
}

.navLink:hover {
  background-color: rgb(55 65 81);
}

.modeSwitch {
  position: absolute;
  bottom: 0;
}
/* ================================ */

/* General Header */
header h1 {
  font-size: 2rem;
}

header h3 {
  font-size: 1.75rem;
}
/* ================================ */

/* Home Page Top Cards */
.topCards {
  display: flex;
  align-items: center;
  width: 22%;
  height: 6rem; /* Tal vez quitar esta */
  padding: 0 1.5%;
  border-radius: 10px;
}

.topCards div {
  padding: 1rem;
}

.topCards div p {
  font-size: large;
}

/* ================================ */

/* Testing */
.genSummary {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
}

.monthGraphs {
  background-color: #f3baba;
  width: 32%;
  height: auto;
}

.incExp {
  display: grid;
  align-items: center;
  padding: 1rem;
}
/* ================================ */

/* Tercera fila pagina Home */
.recentAct {
  background-color: #8095a8;
  width: 40%;
  padding: 0.5rem;
}

.savingGoals {
  background-color: #8095a8;
  padding: 0 2rem;
}

.creditCard {
  background-color: #8095a8;
  padding: 0.5rem;
}
/* ================================ */

/* Transaction/Charge Activity */
.charge {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.chargeData {
  width: 40%;
}

.chargeCat {
  width: 20%;
}

.chargeAmount {
  width: 40%;
  text-align: right;
}

/* ================================ */

/* Add Transaction - Income & Expense */
.addTransClass {
  padding: 15% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTransaction {
  background-color: #efefef;
  width: 50%;
  border-radius: 10px;
  padding: 2rem;
}

.labelForm {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  font-weight: 700;
  margin-bottom: 0.5rem /* 8px */;
}

.inputForm {
  width: 100%;
  border: 1px solid rgb(229 231 235);
  border-radius: 10px;
  padding: 0.75rem 1rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  background-color: rgb(229 231 235);
  color: rgb(55 65 81)
}

/* DATA Page */
.dataGraphs {
  align-content: center;
  width: 50%;
}

.dataActivity {
  display: flex;
  justify-content: center;
  width: 50%;
}

.actHistory {
  border-radius: 10px;
  background-color: #efefef;
  width: 95%;
  height: 100%;
  padding: 0.5rem;
}

.catPerMonth {
  border-radius: 10px;
  background-color: #d9d9d9;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

/* Main Goals */
.mainGoals {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

.cardSection {
  width: 80%;
}

.goalsCards {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}

/* Goals Table /  progress Bar */
.tableBox {
  display: flex;
  justify-content: center;
  background-color: #8095a8;
  border-radius: 10px;
  width: 95%;
}

.goalInstance {
  padding-bottom: 2rem;
}

.goalTitle {
  display: flex;
  justify-content: space-between;
}

.goalsTable {
  width: inherit;
}

.containerStyle {
  height: 20px;
  background-color: #e0e0de;
  border-radius: 10px;
}

.fillerStyles {
  height: 100%;
  background-color: lightblue;
  border-radius: inherit;
  text-align: right;
}

.labelStyles {
  padding: 0;
  color: white;
  font-weight: bold;
}
