.megaBG {
  background-color: #134074;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 40;
  width: 15.6%;
  height: 100vh;
}

.container {
  padding: 2rem 1rem;
}

.navLi {
  margin-top: 1.25rem;
}

.navLi:last-child {
  position: absolute;
  width: 80%;
  margin-bottom: 2rem;
  bottom: 0;
}

.navLink {
  color: white;
  display: flex;
  align-items: center;
}

.navLink p {
  margin-left: 20px;
}

.navLink:hover {
  background-color: white;
  border-radius: 10px;
  color: black;
}

.modeSwitch {
  position: absolute;
  bottom: 0;
}
