.container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.topCards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 25%;
}

.topCardsStadistics {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 50%;
}

.topCards div {
  padding-left: 1rem;
}

.topCards div p:last-child {
  font-size: 1rem;
  font-weight: 700;
}

.topCards:nth-child(1) div p:last-child {
  color: #32d956;
}

.topCards:nth-child(3) div p:last-child {
  color: #ff0000;
}

.separator {
  height: 60px;
  border: 1px solid #8da9c4;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
  }
  .topCards {
    width: 50%;
  }
  .separator {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .topCards {
    width: 100%;
  }
  .separator {
    display: none;
  }
}
