.container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 20px;
}

.topCards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 25%;
}

.topCards div {
  padding-left: 1rem;
}

.topCards div p {
  font-size: x-large;
}

.topCards div p:last-child {
  font-size: 1rem;
  font-weight: 700;
}

.topCards:nth-child(1) div p:last-child {
  color: #32d956;
}

.topCards:nth-child(3) div p:last-child {
  color: #ff0000;
}
