.genSummary {
  display: flex;
  justify-content: space-between;
}

/* Responsive design */
/* @media (max-width: 992px) {
  .genSummary {
    flex-direction: column;
    align-items: center;
  }
} */
